<h1><%= I18n.t 'views.items.index.title' %></h1>

<div id="item_list">
  <%= render :partial => 'list'%>
</div>

<div class="padding" ></div>

<div id="item_sum">
  <label><%= @summary %></label>
</div>
