// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#customer_list {
  $tab_width:500px;
  $col_width:auto;
  ul {
    width:$tab_width;
    li {
      width:$col_width;
    }
  }
}

#create_new_customer {
  ul {
    width:$tab_width;
    li {
      text-indent:0em;
      width:$col_width;
      input {
        width:90%;
        height:95%;
        border:0px;
      }
    }
  }
}

#customer_sum {
  font-size:12px;
}