// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$tab_width:500px;
$col_width:auto;
#customer_list {
  ul {
    width:$tab_width;
    li {
      width:$col_width;
    }
  }
}

#create_new_customer {
  ul {
    width:$tab_width;
    li {
      text-indent:0.5em;
      width:$col_width;
    }
  }
}

#customer_sum {
  font-size:12px;
}