// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tab_width:900px;
$col_width:9%;

#customer_list, #create_new_customer {
  ul {
    width:$tab_width;
    li {
      width:$col_width;
    }
  }
}

#customer_sum {
  font-size:12px;
}