// Place all the styles related to the orderdetails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#orderdetail_list {
  $tab_width:400px;
  $col_width:auto;
  ul {
    width:$tab_width;
    li {
      width:$col_width;
    }
  }
}

#create_new_orderdetail {
font-size:12px;
input {width:80px; }
}

#orderdetail_sum {
font-size:12px;
}