// Place all the styles related to the orderdetails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tab_width:600px;
$col_width:14%;

#orderdetail_list, #create_new_orderdetail {
  ul {
    width:$tab_width;
    li {
      width:$col_width;
    }
  }
}

#orderdetail_sum {
  font-size:12px;
}