// Place all the styles related to the orderdetails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$tab_width:400px;
$col_width:auto;
#orderdetail_list {
  ul {
    width:$tab_width;
    li {
      width:$col_width;
    }
  }
}

#create_new_orderdetail {
  ul {
    width:$tab_width;
    li {
      text-indent:0em;
      width:$col_width;
      input {
        width:90%;
        height:95%;
        border:0px;
      }
    }
  }
}

#orderdetail_sum {
  font-size:12px;
}