// Place all the styles related to the productions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#production_list {
  $tab_width:600px;
  $col_width:16%;
  ul {
    width:$tab_width;
    li {
      width:$col_width;
    }
  }
}

#create_new_production {
font-size:12px;
input {width:80px; }
}

#production_sum {
font-size:12px;
}