// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tab_width:40em;
$col_width:25%;

#profit_trend {
  font-size:12px;
  ul {
    width:$tab_width;
    li {
      width:$col_width;
    }
  }
}

$tab_width:50em;
$col_width:20%;

#storage_trend {
  font-size:12px;
  ul {
    width:$tab_width;
    li {
      width:$col_width;
    }
  }
}

.order_item {
  li {
    text-indent:4em;
  }
}

#address_detail {
  height:5em;
  li {
    float:none;
    text-indent:4em;
  }
  select {
    width:9.6em;
  }
}

#create-new-order {
  ul li {height:1.5em;}
  input {width:4em;}
  input#new_order_tel {width:8em;}
}

#submit_cancel_tab li {
  text-indent: 22em;
}

#preference_table {
  height:auto;
  div {
    margin:auto;
    padding:1.5em;
    width:66%;
    ul li {
      text-indent:0;
      width:33%
    }
  }
}

.grey_tab {
  font-size:10px;
  text-align:center;
  color:grey;
  height:auto;
}
